<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
</head>
<body>
	<form>
		<h2>Course 1:</h2>
		<label for="subject1">Subject:</label>
		<input type="text" id="subject1" name="subject1"><br><br>
		<label for="category1">Category:</label>
		<input type="text" id="category1" name="category1"><br><br>

		<h2>Course 2:</h2>
		<label for="subject2">Subject:</label>
		<input type="text" id="subject2" name="subject2"><br><br>
		<label for="category2">Category:</label>
		<input type="text" id="category2" name="category2"><br><br>

		<h2>Course 3:</h2>
		<label for="subject2">Subject:</label>
		<input type="text" id="subject3" name="subject2"><br><br>
		<label for="category2">Category:</label>
		<input type="text" id="category3" name="category2"><br><br>

		<h2>Course 4:</h2>
		<label for="subject2">Subject:</label>
		<input type="text" id="subject4" name="subject2"><br><br>
		<label for="category2">Category:</label>
		<input type="text" id="category4" name="category2"><br><br>

		<h2>Course 5:</h2>
		<label for="subject2">Subject:</label>
		<input type="text" id="subject5" name="subject2"><br><br>
		<label for="category2">Category:</label>
		<input type="text" id="category5" name="category2"><br><br>



		<input type="submit" value="Submit">
	</form>
</body>
</html>
